<h2>Send Money</h2>
<div>
  <form #sendForm="ngForm" (ngSubmit)="onSubmit(sendForm)">
    <div class="form-group">
      <label for="receiver">Send To:</label>
      <input type="text" class="form-control" id="receiver" aria-describedby="username" placeholder="Enter Accountholder" name="receiver" ngModel required>
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" class="form-control" id="amount" aria-describedby="username" placeholder="Enter Amount" name="amount" step="0.01" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

  <h2>Request Money</h2>
  <form #requestForm="ngForm" (ngSubmit)="onSubmit1(requestForm)">
    <div class="form-group">
      <label for="receiver">Request From:</label>
      <input type="text" class="form-control" id="receiver" aria-describedby="username" placeholder="Enter Accountholder" name="receiver" ngModel>
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" class="form-control" id="amount" aria-describedby="username" placeholder="Enter Amount" name="amount" step="0.01" ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Request</button>
  </form>
</div>

<!-- <div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Enter Username" ngModel required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
  </form>
</div>
-->